<md-dialog aria-label="Further Assistance">
  <div layout="column"
        layout-align="center center"
        layout-padding>
    <h3 class="cf-light">Further Assistance ?</h3>

    <md-dialog-content>
      <div layout="row">
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Email Us</span>
              <span class="md-subhead">info@codefarmers.com</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <md-icon md-svg-icon="/images/email-open.svg" style="color: rgb(0,150,136);height:72px;width:72px" aria-label="Email"></md-icon>
              </div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Call Us</span>
              <span class="md-subhead">+91.999.999.0000</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <md-icon md-svg-icon="/images/cellphone.svg" style="color: rgb(0,150,136);height:72px;width:72px" aria-label="Email"></md-icon>
              </div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </div>
      <div layout="row">
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Buy Raw Material</span>
              <span class="md-subhead">https://codefarmers.com/marketplace</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <md-icon md-svg-icon="/images/cart.svg" style="color: rgb(0,150,136);height:72px;width:72px" aria-label="Email"></md-icon>
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Order Online</md-button>
          </md-card-actions>
        </md-card>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Share on social media</span>
              <span class="md-subhead">Spread the word :)</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-mini">
              <md-icon md-svg-icon="/images/facebook.svg" style="color: rgb(0,150,136);" aria-label="Facebook"></md-icon>
            </md-button>
            <md-button class="md-mini"><md-icon md-svg-icon="/images/twitter.svg" style="color: rgb(0,150,136);" aria-label="Twitter"></md-icon></md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-dialog-content>
  </div>
</md-dialog>