<md-button layout-align="end center" class="md-raised" aria-label="description" ng-click="grid.finish($event)">Need Help ?</md-button>
<div class="white-bg" style="overflow-x: auto">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Edit Plant</h1>
    </md-toolbar>
    <md-content layout-padding>
      <md-grid-list class="sidenav-plants-grid"
                    md-cols="2"
                    md-row-height="3:1"
                    md-gutter="12px">
        <md-grid-tile class="gray"
                      md-rowspan="2" md-colspan="1"
                      ng-repeat="plant in grid.sidebarPlants track by $index"
                      ng-click="grid.closeSidenave({plant: plant, index: $index})">
          <img ng-src="/images/{{ plant.image }}" width="100%" height="100%">       
          <md-grid-tile-footer>
            <h3>{{ plant.plant_name }}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </md-content>
  </md-sidenav>
  <md-grid-list class="optimized-plants-grid"
                md-cols="{{ grid.bedLength }}"
                md-rows="{{ grid.bedBreadth }}"
                md-row-height="fit"
                md-gutter="12px"
                ng-style="{'width': grid.gridWidth + 'px'}">
    <md-grid-tile class="gray"
                  md-rowspan="1" md-colspan="1"
                  ng-repeat="plant in grid.plantsData track by $index">
      <md-button class="info-button md-raised md-fab md-mini" ng-click="grid.showInfo($event, plant)" aria-label="plant information">
      <md-icon md-svg-src="/images/ic_info.svg"></md-icon>
      </md-button>
      <md-button class="edit-button md-raised md-fab md-mini" ng-click="grid.editPlant($index)" aria-label="edit plant">
        <md-icon md-svg-src="/images/ic_edit.svg"></md-icon>
      </md-button>
      <img ng-src="/images/{{ plant.image }}" width="100%" height="100%">       
      <md-grid-tile-footer>
        <h3>{{ plant.plant_name }}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>