<div>
  <div ng-if="!main.showDialog" class="repeat-item" layout="row" layout-align="space-between center">
    <h3 class="white-color">We have filtered the plants specific to your area, Click plants you want to grow</h3>
    <div style="margin-right: -385px;margin-top: 5px;">
      <md-button
        class="md-raised md-primary"
        ng-click="main.editBeds()"
        aria-label="next page"
        ng-if="main.showNextButton()"
        href="/#/grid">Create Optmized vegetation layout</md-button>
    </div>
    <div>
      <md-button class="md-raised" ng-click="main.editBeds()" aria-label="edit beds">Select Bed</md-button>
    </div>
  </div>
</div>
<div class="remaining-cells white-color">
  {{main.remainingCells()}}
</div>
<md-grid-list class="plant-selection-grid"
              md-cols="7"
              md-row-height="1:1"
              md-gutter="12px"
              ng-style="{'opacity': main.showDialog ? 0.6 : 1, 'cursor': main.showDialog ? 'normal' : 'pointer'}">
  <md-grid-tile md-rowspan="1" md-colspan="1"
                ng-repeat="plant in main.plantsData track by $index"
                class="repeat-item"
                ng-click="!main.showDialog && main.selectPlant(plant)">
    <div ng-if="main.getPlantCount(plant)">
      <md-icon md-svg-src="images/ic_remove.svg" class="remove-plant"
               ng-click="main.removePlant(plant);$event.stopPropagation()"></md-icon>
      <span class="plant-count">{{ main.getPlantCount(plant) }}</span>
    </div>
    <md-button ng-if="!main.showDialog" class="md-raised md-fab md-mini plant-info-button"
        ng-click="main.showInfo($event, plant);$event.stopPropagation()" aria-label="plant information">
        <md-icon md-svg-src="images/ic_info.svg"></md-icon>
      </md-button>
    <div>
      <img ng-src="/images/{{ plant.image }}" width="167px" height="167px">

    </div>
    <md-grid-tile-footer ng-if="!main.showDialog">
      <h3>{{ plant.common_name }}</h3>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>

 <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar flex layout layout-align="center center" class="md-theme-indigo">
      <h1  flex="70" class="md-toolbar-tools">Choose a bed size</h1>
      <md-button flex="30"  md-class="md-accent md-raised" ng-click="main.closeSidenav()"> Done</md-button>
    </md-toolbar>
     <md-card md-ink-ripple ng-repeat="card in main.userPreferences" id="card.debId"
              ng-click="main.setSelectedBed(card)"
              ng-if="card.breadth">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Bed Dimensions</span>
            <span class="md-subhead">{{card.length}} X {{card.breadth}}</span>
          </md-card-title-text>
        </md-card-title>
        <div layout="row" ng-show="main.selectedBed == card.bedId"
                        layout-align="start center" layout-margin>
          <md-switch ng-true-value="'more'" ng-false-value="'less'"
                     ng-model="card.amount_of_sunshine" aria-label="sunshine">
                          {{ card.amount_of_sunshine == 'more' ? 'Enough Sunlight (> 3 hours)' : 'Less Sunlight (< 3 hours)' }}
          </md-switch>
        </div>
      </md-card>
  </md-sidenav>