<md-grid-list class="optimized-plants-grid"
            md-cols="5"
            md-rows="6"
            md-row-height="fit"
            md-gutter="12px"
            ng-style="{'width': grid.gridWidth + 'px'}">
<md-grid-tile class="gray"
              md-rowspan="1" md-colspan="1"
              ng-repeat="plant in grid.sidebarPlants track by $index">
  <md-button class="info-button md-raised md-fab md-mini" ng-click="grid.showInfo($event, plant)" aria-label="plant information">
  <md-icon md-svg-src="/images/ic_info.svg"></md-icon>
  </md-button>
  <md-button class="edit-button md-raised md-fab md-mini" ng-click="grid.editPlant($index)" aria-label="edit plant">
    <md-icon md-svg-src="/images/ic_edit.svg"></md-icon>
  </md-button>
  <img ng-src="/images/{{ plant.image }}" width="100%" height="100%">
  <md-grid-tile-footer>
    <h3>{{ plant.plant_name }}</h3>
  </md-grid-tile-footer>
</md-grid-tile>
</md-grid-list>