<md-dialog aria-label="Pincode query"  ng-cloak>
  <div layout="column"
        layout-align="center center"
        layout-padding>
    <h3 class="cf-light">Want to grow organic vegetables/plants ?</h3>
    <form name="userForm" layout-fill>
        <md-autocomplete class="md-block pincode-autocomplete" flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-selected-item="pincodedialog.pinCode"
            md-floating-label="Enter Pincode"
            md-items="item in pincodedialog.pincodes"
            md-search-text="pincodedialog.searchText"
            md-item-text="item">
            <md-item-template>
              <span md-highlight-text="pincodedialog.searchText">{{item}}</span>
            </md-item-template>
        </md-autocomplete>
      <div layout layout-align="start center">
        <md-input-container flex="50">
          <label>Enter Length (in ft.)</label>
          <input type="text" ng-model="pincodedialog.bedLength">
        </md-input-container>
        <md-input-container  flex="50">
          <label>Enter Breadth (in ft.)</label>
          <input type="text" ng-model="pincodedialog.bedBreadth">
        </md-input-container>
      </div>
      <md-button flex="100" class="md-primary md-raised"
                 ng-click="pincodedialog.filterPlants()"
                 layout-padding>Find Veggeis/Plants I can grow
      </md-button>
    </form>
  </div>
</md-dialog>