<md-dialog aria-label="{{ dialog.plant.common_name }}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ dialog.plant.common_name }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.mdDialog.cancel()">
          <md-icon md-svg-src="/images/ic_close.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-margin>
          <table class="plant-info">
            <tbody>
              <tr>
                <td>Plant Name</td>
                <td>{{ dialog.plant.plant_name }}</td>
              </tr>
              <tr>
                <td>Common Name</td>
                <td>{{ dialog.plant.common_name }}</td>
              </tr>
              <tr>
                <td>Scientific Name</td>
                <td>{{ dialog.plant.scientific_name }}</td>
              </tr>
              <tr>
                <td>Friends</td>
                <td>{{ dialog.plant.friends.join(',') }}</td>
              </tr>
              <tr>
                <td>Sunlight </td>
                <td>{{ dialog.plant.sunlight == 'more' ? 'More than 3 hours' : 'Less than 3 hours' }}</td>
              </tr>
              <tr>
                <td>Quantity / sqft. </td>
                <td>{{ dialog.plant.qty_psq }}</td>
              </tr>
              <tr>
                <td>Where to buy </td>
                <td>
                  <!--<a ng-href="/#/marketplace" target="_blank">CodeFarmers</a>,-->
                  <a ng-href="{{ dialog.plant.buy_links[0] }}" target="_blank">Link1</a>,
                  <a ng-href="{{ dialog.plant.buy_links[1] }}" target="_blank">Link2</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div layout="column" layout-align="space-between">
            <img ng-src="/images/{{ dialog.plant.image}}" class="md-avatar" alt="{{ dialog.plant.plant_name }}" />
            <md-button class="md-primary" ng-href="{{ dialog.videoLink }}" aria-label="watch video">Watch Video</md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-href="http://en.wikipedia.org/wiki/{{ dialog.plant.scientific_name}}" target="_blank">
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>