<script type="text/javascript">
    var slides = 0, current = 0;
  var interval = 5000;
  function next_slide() {
    var hide = current;
    current++;

    if(current == slides) {
      current = 0;
    }

    jQuery(".slide_item[data-slide="+hide+"]").removeClass('active');
    var h = jQuery(".slide_item[data-slide="+current+"]").addClass('active').height();

    // jQuery('.slider').css({'height': h + 30 + 'px'});

  }
</script>
<div layout="row" layout-align="space-around start" layout-fill style="margin-top: 30px">

  <div class="slider" flex="50" onclick="next_slide()">
    <div class="slide_item" data-slide="0">
      <h1><strong>What</strong> is Urban Organic Gardening ?</h1>
      <p>
        <li>Growing plants and vegetables/air purifiers in limited space of Urban areas</li>
        <ul><li>Terrace</li>
        <li>Balcony</li></ul>
        <li>Commercial place</li>
        <li>Raising crops using organic wastes.</li>
        <li>Stay away from hazardous chemical diet.</li>
      </p>
    </div>
    <div class="slide_item" data-slide="1">
      <h1><strong>Why</strong> Urban Organic Gardening ?</h1>
      <p>
        <li>Green Environment.</li>
        <li>Stay away from hazardous chemicals.</li>
        <li>No more compromise on nutritional value and true flavour.</li></ul>
        <li>Self sustenance of primary need aka food.</li>
        <li>60% of waste is biodegradable.</li>
        <li>Direct access to fresh vegetables, hence more food security and safety.</li>
        <li>More pure air to breath.</li>
      </p>
    </div>
    <div class="slide_item" data-slide="2">
      <h1><strong>Fact.</h1>
      <p>
        <li>France has mandatory to have organic vegetation on newly constructed rooftops.</li>
        <li>Every 13th cancer patient is from India.
</li>
      </p>
    </div>
  </div>
  <md-whiteframe class="md-whiteframe-z1 white-bg" flex>
    <div class="slider-wrapper theme-default">
      <div class="ribbon"></div>
      <div id="slider" class="nivoSlider">
        <img src="/images/1.jpg">
        <img src="images/2.png">
        <!-- <img src="images/plantedbed.jpg"> -->
        <img src="/images/question.jpg">
      </div>
    </div>
  </md-whiteframe>
</div>

<div layout="column"
     layout-align="center center">
  <md-button class="md-raised md-primary welcome-primary-btn lets-begin"
             ng-href="#/main">Let's Begin</md-button>
</div>
<style type="text/css">

  /* Text Slider */
.slider {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider .slide_item {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 60px;
  display: block;
  top: 0;
}
.slider .slide_item h1 {
  font-size: 29px;
  line-height: 44px;
  color: #ffffff;
  font-weight: lighter;
}

.slider .slide_item p {
  color: #ffffff;
  font-weight: lighter;
}

.slider .slide_item.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.slider > a {
  bottom: 0;
  left: 0;
  position: absolute;
}

</style>
<script type="text/javascript">
  $(document).ready(function() {
      $('#slider').nivoSlider({
        animSpeed: 1000,
        pauseTime: 30000,
        pauseOnHover: true,
        controlNav: false,
        effect: 'fold'
      });

  /* Header Text Slides */
  jQuery(".slide_item").each(function() {
    jQuery(this).hide();

    jQuery(this).attr('data-slide', slides);
    //show first slide
    if(slides === 0) {
      // var h = jQuery(this).addClass('active').height();
      jQuery(".slide_item[data-slide="+current+"]").addClass('active')
      // jQuery('.slider').css({'height': h + 30 + 'px'});
    }

    jQuery(this).show(0);

    slides++;

  });

    // setInterval(function() {
    //   next_slide();
    // }, interval);


  });
</script>
