md-grid-list md-grid-tile md-grid-tile-header, md-grid-list md-grid-tile md-grid-tile-footer {
  height: 24px;
}

md-grid-list.optimized-plants-grid {
  height: 540px;
  background: #aB7A5C;
  border: 10px solid #aB7A5C;
}

.optimized-plants-grid md-grid-tile,
.sidenav-plants-grid md-grid-tile {
  border: 1px solid #ccc;
}

.sidenav-plants-grid md-grid-tile {
  cursor: pointer;
}

.optimized-plants-grid md-grid-tile md-grid-tile-footer,
.sidenav-plants-grid md-grid-tile md-grid-tile-footer {
  background: rgba(0,0,0, 0.6);
}

.optimized-plants-grid md-grid-tile button.info-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.optimized-plants-grid md-grid-tile button.edit-button {
  position: absolute;
  top: 0px;
  left: 0px;
}