.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  // background: #ccc;
  background-color: #202429;
  // background: url('/images/bg.jpg') no-repeat;
  // background-size: cover;
  /*mask-image: url('/images/pattern.png');*/
  /*-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));*/
}


.urban {
  background-image: url('/images/pattern-2.jpg');
}

.urbanmain {

}

.urbangrid {

}


.cf-light {
  color: #555;
}

.white-color {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

/* we can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:2s ease-in all;
  transition:2s ease-in all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.plant-selection-grid md-grid-tile md-grid-tile-footer {
  background: rgba(0,0,0, 0.6);
}

.plant-count {
  position: absolute;
  right: 0;
  top: -1px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 7px 10px;
}

.remove-plant {
  position: absolute;
  left: 0;
  top: 0;
  // background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 7px 10px;
}


.lets-begin {
  padding: 16px 30px !important;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  border-radius: 5px;
}


.welcome-primary-btn {
  width: 350px;
  height: 65px;
  margin-top: 55px;
}


.plant-info-button {
  position: absolute;
  right: 0px;
  bottom: 3px;
}

md-card[md-ink-ripple] {
  position: relative;
}

li {
  color: white;
  font-weight: bold;
  font-size: medium;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }
}
